@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";
@theme {
  --color-primary: #2271b3;
  --color-secondary: #f80000;
}

